<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header id="main">
      <img width="70px" alt="Isha River Rose Logo" src="assets/images/site/river_rose_logo_refined.svg">
      <h1>
        Isha River Rose
        <hr>
     </h1>
     <nav>
       <div class="secondaryNav">
         <a>
           About
         </a>
         <a>
           Contact
         </a>
         <a>
           Order Prints
         </a>
        </div> 
     </nav>
  </header>
</div>
  <!-- Page Content -->
  <div class="content">
      <router-outlet></router-outlet>
  </div>
<h2>Here are some links to help you start: </h2>


