/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Life+Savers');
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul .secondaryNav{
    display: flex;
    flex-direction: column;

}
h1{
    font-family: 'Life Savers', cursive;
    display: inline-block;
    hr{
        width: 100%;
        border: none;
        height: 4px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: #333; /* Modern Browsers */
    }
}